{% extends 'base.html' %}
{% load static %}

{% block title %}
    Exam
{% endblock title %}

{% block navbar %}    
{% endblock navbar %}   

{% block content %}
<div class="row justify-content-center m-1">
    Question {{ page_obj.number }} of {{ paginator.num_pages }}
</div>
<div class="row justify-content-center">
    <span class="badge badge-primary py-0 fixed-top"><h2 id="timer">00:00:00</h2></span>    
    <ul class="pagination col-sm-10 justify-content-center" style="padding-left: 15px !important;">
    {% for page_num in paginator.page_range %}
    
        {% if page_obj.number == page_num %}
            <li class="page-item active" id="top">
                <span 
                    class="page-link border-0 text-white" 
                    id="Question{{ page_num }}"
                >
                    {{ page_num }}
                </span>            
            </li>
        {% else %}
            <li class="page-item" id="top">
                <a class="page-link border-0 text-white bg-danger" href="?page={{page_num}}" id="Question{{ page_num }}">{{page_num}}</a>
            </li>
        {% endif %} 
        
    {% endfor %}
    </ul>        
</div>
<div class="row my-3 justify-content-center">    
    <input type="hidden" name="quiz_pk" value="{{ quiz_pk }}">
    {% if questions %}
        {% for question in questions %}
        <div id="exam">
            <div class="row justify-content-around">
                <div class="card border-primary col-10 col-md-8">
                    <div class="card-body">
                      <p class="card-text">{{ question.quiz.quiz_text }}</p>
                    </div>
                </div>                
                <div class="card border-primary col-10 col-md-3">            
                    <div class="card-body">
                        <p class="card-text">{{ question.question_text }}</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <ul class="list-group list-group-flush">
                            {% for choice in question.choices.all %}
                                <li class="list-group-item">
                                    <label>
                                        <input 
                                            type="radio" 
                                            name="choice" 
                                            id="Question{{ page_obj.number }}" 
                                            value="{{ choice.pk }}"> 
                                            {{ choice }}
                                    </label>
                                </li>
                            {% endfor %}                        
                            </ul>
                        </form>
                    </div>                    
                </div>                
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="row justify-content-center">
    <nav class="flex-grow-1" aria-label="Page navigation">
        <ul class="pagination flex-column flex-sm-row pagination-lg justify-content-around align-items-center align-items-sm-baseline">
            <!-- prev button -->
            <li class="page-item {% if not page_obj.has_previous %}disable{% endif %}">
                <a 
                    {% if page_obj.has_previous %} 
                        class="page-link" 
                        href="?page={{ page_obj.previous_page_number }}"
                        style="background-color: dodgerblue; color: #fff;"
                    {% else %}
                        style="background-color: rgb(52, 85, 107); cursor:not-allowed;"
                        class="text-secondary page-link"
                    {% endif %} 
                    aria-label="Previous"
                >
                    <span aria-hidden="true">&lt;&lt;Prev</span>
                </a>
            </li>
            <!-- finish and abort -->
            <div class='d-flex my-1 flex-sm-row flex-column justify-content-center'>
            <!-- finish button -->
                <li class="page-item mx-1">
                    <form action="/exam/result/" method="post">
                        {% csrf_token %}
                        <input class="btn mx-1 btn-success mb-1 flex-fill" id='finish' style="padding: .75rem 1.5rem;"
                            type="submit" value="Finish" name="finish">
                        <input type="hidden" name="quiz_pk" value="{{ quiz_pk }}">
                        <input type="hidden" name="elapse" value="">
                    </form>
                </li>                
                <!-- abort button -->
                <li class="page-item mx-1">
                    <a 
                        class="btn mx-1 btn-danger mb-1 flex-fill" style="padding: .75rem 1.5rem;" 
                        href="{% url 'exam:exam_list' %}"
                    >
                        Abort
                    </a>               
                </li>
            </div>

            <!-- next button -->
            <li 
                class="page-item {% if not page_obj.has_next %} disabled {% endif %}"
                {% if not page_obj.has_next %}
                    style="cursor:not-allowed;"
                {% endif %}
            >
                <a  
                    {% if page_obj.has_next %} 
                        class="page-link"
                        style="background-color: dodgerblue; color: #fff;"    
                        href="?page={{ page_obj.next_page_number }}" 
                    {% else %}
                        class="page-link text-secondary"
                        style="background-color: rgb(52, 85, 107);"
                    {% endif %}
                    aria-label="Next"
                >
                    <span aria-hidden="true">Next&gt;&gt; </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'exam/exam.js' %}"></script>
{% endblock javascript %}
