{% extends 'base.html' %}
{% load static %}

{% block title %}
    Instructions
{% endblock title %}

{% block content %}
<div class="row mt-5 justify-content-center">
    <div class="col-sm-10">
        <div class="card">            
            <div class="card-body">
                <h4 class="display-4">Instructions</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    The test contains {{ exam.questions.count }} question{{ exam.questions.count|pluralize }} and there is
                    time
                    limit.
                </li>
                <li class="list-group-item">
                    This Quiz has a duration of {{ exam.duration }} (HH:MM:SS)
                </li>
                <li class="list-group-item"> 
                    You will get 10 percent for each correct answer. At the end of the Quiz, your total score will be
                    displayed. Maximum score is 100 percent.</li>
                <li class="list-group-item">
                    Good luck!
                </li>
            </ul>
        </div>        
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-10">
        <a class="btn mx-1 btn-success mb-1 flex-fill" id="start" href="{% url 'exam:exam-questions-list' exam.pk %}">Start Quiz</a>
        <input type="hidden" name="pk" value="{{ exam.pk }}">
        {% csrf_token %}
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'instruct.js' %}"></script>
{% endblock javascript %}
