{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard - Exam
{% endblock title %}


{% block page_title %}
<h2>Exam Hall</h2>

{% endblock page_title %}


{% block content %}


{% if exams %}

{% for exam in exams %}
<p>
    <a id='exam_list' href="{% url 'exam:exam-instruction' exam.pk %}">{{ exam.quiz_title }}</a> |
    <span>({{ exam.questions.count }}
        question{{ exam.questions.count|pluralize }})</span> |
    <span>Duration : {{ exam.duration }}</span>
</p>
{% endfor %}

{% endif %}

{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'exam.js' %}"></script>
{% endblock js %}
