{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block title %}
    Create
{% endblock title %}


{% block content %}
<div class="row flex-column justify-content-center align-items-center">
    <h1 class="display-3 mb-5">
        Quizoo
    </h1>
    <form class="col-sm-8" method="post" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">
            {% if formset %}
                Create Question and Choices
            {% else %}
                Create Quiz
            {% endif %}
        </h1>
        {% csrf_token %}
        {% include 'includes/form.html' %}      
        

        <!-- management form -->
        {{ formset.management_form }}            

        <!-- choice form set -->            
        {% for form in formset.forms %}        
        {% with id=forloop.counter %}
        <div>
            {% if not formset.is_valid %}            
                {% for error in formset.non_form_errors %}
                <div class="from-group">
                    <small class="text-danger">
                        {{ error }}
                    </small>
                </div>
                {% endfor %}                            
            {% endif %}
            <fieldset class="
                {% if formset.is_bound %}       
                    {% if not form.is_valid %} 
                        border-danger                        
                    {% endif %}
                {% else %}
                    border-gray
                {% endif %}
                form-group border  rounded p-2 bg-white
            ">
                {% include 'includes/form.html' %}
            </fieldset>
        </div>
        {% endwith %}
        {% endfor %}
        <div class="row justify-content-center" id="move">
            <div class="col-sm-6 d-flex flex-column flex-sm-row justify-content-center" id="move1">
                {% csrf_token %}
                <input class="btn mx-1 btn-success mb-1 flex-fill" id='finish' style="padding: .75rem 1.5rem;"
                    type="submit" value="Save and Exit" name="finish">
                <input 
                    class="btn btn-success mb-1 flex-fill" 
                    id='continue' style="padding: .75rem 1.5rem;"
                    type="submit" 
                    value="Save and Create{% if formset %} Another{% endif %} Question" 
                    name="continue"
                >
            </div>
        </div>
    </form>
</div>
{% endblock content %}

