{% extends 'base.html' %}

{% block title %}

    {% if user.teacher %}
        Teacher
    {% else %}
        Student
    {% endif %} 
    - {{ user.email }}
    
{% endblock title %}

{% block content %}

    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 text-center">
            <h1 class="display-4">Quizoo - Multi Choice Quiz App</h1>
            <p class="h3 font-weight-normal">
                With Quizoo, practise and create MCQ/quizzes easily
            </p>
        </div>
    </div>
    <!-- if user is authenticated -->
    {% if user.is_authenticated %}

        <!-- if user is teacher -->
        {% if user.teacher %}

            <div class="row mt-5 justify-content-center">
                <div class="col-10 col-sm-8 d-flex justify-content-center flex-sm-row flex-column">
                    <a class="btn mx-1 btn-outline-primary mb-1 flex-fill" href="{% url 'dash:create_quiz' %}" >Create Quiz</a>
                    <a class="btn mx-1 btn-outline-primary mb-1 flex-fill" href="{% url 'dash:quiz_list' %}" >See list of Quizzes</a>
                </div>
            </div>
        {% else %}

            <!-- if user is not teacher -->
            <div class="row mt-5 justify-content-center">
                <div class="col-10 col-md-8 d-flex justify-content-center flex-sm-row flex-column">
                    <a class="btn mx-1 btn-success mb-1 flex-fill" href="{%  url 'exam:sample_exam' 'sample' %}" >Sample Quiz</a>
                    <a class="btn mx-1 btn-outline-primary mb-1 flex-fill" href="{% url 'exam:exam_list' %}" >Select Quiz To Practise</a>
                    <a class="btn mx-1 btn-outline-primary mb-1 flex-fill" href="{% url 'exam:result_list' %}" >Results</a>
                </div>
            </div>

        {% endif %}        
        

    {% endif %}

{% endblock content %}

