{% extends 'base.html' %}

{% block title %}
Dashboard - Questions
{% endblock title %}


{% block page_title %}
<h2>Dashboard</h2>

{% endblock page_title %}


{% block content %}
<p><a href="">Add Question</a></p>

{% if questions %}

{% for question in questions %}
<p><a href="{{ question.get_absolute_url }}">{{ question.question_text }}</a> |
    <a href="{{ question.get_delete_url }}">Delete</a>
    | <a href="{{ question.get_update_url }}">Update</a>
</p>
{% endfor %}
{% else %}
<h2>You Have not added any question.</h2>
{% endif %}

{% endblock content %}
