{% extends 'base.html' %}

{% block title %}
Dashboard - {{ question.question_text }}
{% endblock title %}


{% block page_title %}
<h2>Dashboard</h2>
{% endblock page_title %}


{% block content %}

{% if question %}


<p>{{ question.question_text }}</p>

<p><a href="{{ question.get_delete_url }}">Delete</a>| <a href="{{ question.get_update_url }}">Update</a></p>
<p><a href="{% url 'dash:question-choices' question.pk %}">See all Choices for this question</a> | <a
                href="{% url 'dash:question-choice-create' question.pk %}">Create
                Choice for this question</a></p>

{% endif %}

{% endblock content %}
