{% extends 'base.html' %}

{% block title %}
Dashboard - {{ question.question_text }}
{% endblock title %}


{% block page_title %}
<h2>Dashboard</h2>
{% endblock page_title %}


{% block content %}

{% if question %}


<p>{{ question.question_text }}</p>

<p><a href="{{ question.get_delete_url }}">Delete</a>| <a href="{{ question.get_update_url }}">Update</a></p>
<p> <b> Choices</b> </p>
{% for choice in question.choices.all %}
<p> {{ choice }}
    <a href="{{ choice.get_update_url }}">Update</a>
</p>
{% endfor %}


{% endif %}

{% endblock content %}
