{% extends 'base.html' %}

{% block title %}
Dashboard - Quizzes
{% endblock title %}


{% block page_title %}
<h2>Dashboard</h2>

{% endblock page_title %}


{% block content %}

<p><a href="{% url 'dash:create-quiz' %}">Create Quiz</a></p>

{% if quizzes %}

{% for quiz in quizzes %}
<p><a href="{{ quiz.get_absolute_url }}">{{ quiz.quiz_title }}</a> | <a href="{{ quiz.get_delete_url }}">Delete</a>
    | <a href="{{ quiz.get_update_url }}">Update</a> | <a
        href="{% url 'dash:quiz-questions' quiz.pk %}">({{ quiz.questions.count }}
        question{{ quiz.questions.count|pluralize }})</a>
</p>
{% endfor %}

{% endif %}

{% endblock content %}
