{% extends 'base.html' %}

{% block title %}
  Quizzes
{% endblock title %}

{% block content %}
    <div class="row justify-content-center flex-column align-items-center">
        <p><a class="btn btn-outline-primary" href="{% url 'dash:create-quiz' %}" role="button">Create Quiz</a></p>
    </div>
    {% if quizzes %}
        <div class="row justify-content-center">
            <table 
                class="table table-hover col-10 border-primary"
                style="background-color: #fff;"
            >
                <thead >
                    <tr>
                        <th class="col-6">Title</th>
                        <th class="col-2 table-bordered">Questions</th>                        
                    </tr>
                </thead>
                {% for quiz in quizzes %}
                    <tbody>
                        <tr class="">
                            <td class="col-6 table-bordered"><a href="{{ quiz.get_absolute_url }}">{{ quiz.quiz_title }}</a></td>
                            <td class="col-2 table-bordered"><a href="{% url 'dash:quiz-questions' quiz.pk %}">({{ quiz.questions.count }})</a></td>
                            <td class="col-2 d-none d-sm-table-cell"><a href="{{ quiz.get_update_url }}">Update</a></td>
                            <td class="col-2 d-none d-sm-table-cell"><a href="{{ quiz.get_delete_url }}">Delete</a></td>
                        </tr>            
                    </tbody>
                {% endfor %}            
            </table>
        </div>
    {% else %}
        <h1 class="text-center display-2">No Quiz Created</h1>
    {% endif %}
{% endblock content %}
<!-- <p><a href="{% url 'dash:create-quiz' %}">Create Quiz</a></p>

{% if quizzes %}

{% for quiz in quizzes %}
<p><a href="{{ quiz.get_absolute_url }}">{{ quiz.quiz_title }}</a> | <a href="{{ quiz.get_delete_url }}">Delete</a>
    | <a href="{{ quiz.get_update_url }}">Update</a> | <a
        href="{% url 'dash:quiz-questions' quiz.pk %}">({{ quiz.questions.count }}
        question{{ quiz.questions.count|pluralize }})</a>
</p>
{% endfor %}

{% endif %} -->
