{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock title %}


{% block content %}
<div>
    <div>
        <h3>
            {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">
                Logout |
            </a>
            {% if user.teacher %}
            <a href="{% url 'dash:dashboard' %}">
                Dashboard (Teachers only)
            </a>
            {% else %}
            | <a href="{% url 'exam:exam-list' %}">
                Take Quiz
            </a>
            {% endif %}
            {% else %}
            <a href="{% url 'users:login' %}">
                Login
            </a> |
            <a href="{% url 'users:register' %}">
                Register
            </a>
            {% endif %}
        </h3>
    </div>
</div>
{% endblock content %}
